<template>
  <div style="text-align: center">
    <div class="lights">
      <div class="lights__light lights__light--red" :class="{ 'is-active': state.matches('red') || state.matches('yellow.prepareRun') }"></div>
      <div class="lights__light lights__light--yellow" :class="{ 'is-active': state.matches('yellow'), 'is-pulsing': state.matches('yellow.pulse') }"></div>
      <div class="lights__light lights__light--green" :class="{ 'is-active': state.matches('green') }"></div>
    </div>
    <hr>
    <button @click="tick">Tick</button>
    <button @click="powerOff">Power Off</button>
    <button @click="powerOn">Power On</button>
    <pre>{{ state.value }}</pre>
  </div>
</template>

<script>
import { Machine, interpret } from 'xstate';

const lightMachine = Machine({
  id: 'lights',
  initial: 'yellow',
  on: {
    POWER_OFF: 'yellow.pulse',
    POWER_ON: 'yellow.prepareStop',
  },
  states: {
    green: {
      on: {
        TICK: 'yellow.prepareStop',
      },
    },
    yellow: {
      on: {
        TICK: 'red',
      },

      initial: 'prepareStop',
      states: {
        pulse: {
          on: {
            TICK: {},
          },
        },
        prepareStop: {
          on: {
            TICK: '#lights.red',
          },
        },
        prepareRun: {
          on: {
            TICK: '#lights.green',
          },
        },
      },
    },
    red: {
      on: {
        TICK: 'yellow.prepareRun',
      },
    },
  },
});

export default {
  data() {
    return {
      timer: null,
      machine: null,
      state: null,
    };
  },

  methods: {
    tick() {
      this.machine.send('TICK');
    },

    powerOff() {
      this.machine.send('POWER_OFF');
    },

    powerOn() {
      this.machine.send('POWER_ON');
    },
  },

  created() {
    this.machine = interpret(lightMachine)
      .onTransition((state) => {
        this.state = state;
      })
      .start();
  },

  mounted() {
    this.timer = setInterval(this.tick, 2000);
  },

  destroyed() {
    clearTimeout(this.timer);
  },
};
</script>

<style lang="scss">

@keyframes pulse {
  0%   { background: gray; }
  50%  { background: orange; }
  100% { background: gray; }
}
@keyframes pulseAfter {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

.lights {
  display: inline-block;
  background: black;
  width: 7em;
  text-align: center;
  padding: 10px 0;

  &__light {
    display: inline-block;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    position: relative;

    background: gray;

    &--red {
      &.is-active {
        background: red;
      }
    }

    &--yellow {
      &.is-active {
        background: orange;
      }

      &.is-pulsing {
        animation: pulse 1s infinite;

        &:after {
          animation: pulseAfter 1s infinite;
        }
      }
    }

    &--green {
      &.is-active {
        background: green;
      }

    }

    &.is-active {
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        background: #fff;
        width: 0%;
        height: 0%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 0px 1em 1em rgba(255,255,255,0.75);
      }
    }
  }
}
</style>
